# Nut Butter Sales

In [1]:
import numpy as np
import pandas as pd

## Raw data (arrays)

In [2]:
sales_by_week = np.array([[2, 7, 1],
                          [9, 4, 16],
                          [11, 14, 18],
                          [13, 13, 16],
                          [15,18,9]])
sales_by_week

array([[ 2,  7,  1],
       [ 9,  4, 16],
       [11, 14, 18],
       [13, 13, 16],
       [15, 18,  9]])

In [3]:
sales_by_week.shape

(5, 3)

In [4]:
prices = np.array([10, 8, 12])
prices

array([10,  8, 12])

In [5]:
prices.shape

(3,)

In [6]:
earnings_by_product = sales_by_week.dot(prices)

## Dataframes

In [7]:
sales_by_week = pd.DataFrame(data=sales_by_week,
                             index=["Mon", "Tue", "Wed", "Thu", "Fri"],
                             columns=["Almond butter", "Peanut butter", "Cashew btter"])

In [8]:
sales_by_week["Total ($)"] = earnings_by_product
sales_by_week

     Almond butter  Peanut butter  Cashew btter  Total ($)
Mon              2              7             1         88
Tue              9              4            16        314
Wed             11             14            18        438
Thu             13             13            16        426
Fri             15             18             9        402